@import "./variable";


.footerOno{
    background: $reed;
    display: flex;

    .phone{
        margin-left: 5%;

        img{
            margin-top: -84px;
            transform: skew(0deg,0deg);
        }
    }

    .appStore{
        @include Column();
        align-items: center;
        margin-bottom: 5%;
      
      h4{
    font-size: $title_size;
    text-align: center;
    color: white;
    padding-top: 11%;
    padding-bottom: 3%;
}
p {
    font-size: $subtitle_size;
    color: white;
    padding-bottom: 8%;
    text-align: center;
    width: 57%;
}
.rowAPP{
    gap: 6%;
    @include Row();

}
    

      }
}

.transformation{
    height: 88px;
    margin-bottom: -55px;
    -webkit-transform: skew(0deg,2.5deg);
    transform: skew(0deg,-2.5deg);
    background: $blue;
    margin-top: -34px;

}


.footerDos{
    padding: 10%;
    background: $blue;
    .secondefooter{
        @include Row();

        gap: 27%;
        
        .logofooter {
            width: 30%;

            img{
            width: 100%;
        }
    }
    .Contact{
        @include Column();

        h5 {
            font-size: 25px;
            color: white;
        padding-bottom: 20%;
        }  
        p {
            color: white;
            font-size: 16px;
        }
    }

    
.SocialR{
    @include Column();

    h5{
        font-size: 25px;
        color: white;
    padding-bottom: 20%;
    }
    ul{
        display: flex;
        li{
            list-style: none;
 
            a{
  display: inline-block;
  margin-right: 20px;
}&:hover{
  transform: scale(0.5) translateY(-15px);
}
        }
    }
}
    }
}

@media (max-width: 900px){
    .footerOno{ 
        .phone{
        display: none;
    }

    .appStore{ 
        h4{
        font-size: 17px;
        padding-top: 3%;
    padding-bottom: 3%;
        
    }
    p {
        font-size: 8px;
        padding-bottom: 14%;
    }
    .app{
        display: none;    
        }
}
    }

    .transformation {
        height: 88px;
        margin-bottom: -17px;
    }

    .footerDos {
        padding: 7%;
        .logofooter{
            display: none;
        }
        .secondefooter {
            display: flex;
            flex-direction: column;
            align-items: center;
            .logofooter{
                display: none;
            }

            .Contact{
                display: none;
            }

            .SocialR {
                h5{
                font-size: 16px;
                color: white;
            padding-bottom: 10%;
            }

            .social { 
                li{
                    a{

                    img {
    
                width: 30px;
            }
        }
        }
            }

        }
        }
    }
}