
@import "./header";

$MyReed:#DA1C36;
$MyBlue:#000E44;
@mixin MyBtn {
    padding: 1%;
    margin-top: 8%;
    background: none;
    border-radius: 30px;
    border: solid 2px $MyReed;
    color: white;
    font-size: 18px;
    cursor: pointer;
}



#heroOne{
    display: block;
}

   .hero{
    position: relative;
    min-height: 113vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, $MyBlue, $MyReed);
background-size: cover ;
color: white;
   .cc{
       margin-top: 9%;
    .container{
        margin: auto;
        width: 70%;
        background: white;
        color: $MyBlue;
        padding: 8%;
h1{
    color: $MyBlue;
    font-size: 35px;
    
}
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
          }

          input {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
            border-radius: 15px;
            outline: none;
          }
               .connect {
                width: 50%;
                background-color: $MyReed;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
                border-radius: 15px;

                &:hover{
                    opacity: 0.8 ;
                } 
              }

              .divenregistrer{

                float: right;
margin-top: 2%;
&:hover{
    opacity: 0.8 ;
} 
              .enregistrer{
                  margin-top: 2%;
                  background-color: $MyBlue;
                  color: white;
                  padding: 14px 90px;
                  margin: 8px 0;
                  border: none;
                  cursor: pointer;
                  border-radius: 15px;
                }
              }
          }
        }
            }

            #heroTwo{
                display: none;
            }
           
        








@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}