@import "./header";
@import "./footer";
@import "./variable";



.hero{
    position: relative;
    min-height: 113vh;
    padding: 50px 100px;
    @include center();
    @include Column();

background:linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.527)), url(../assets/home.jpg);
background-size: cover ;
color: white;

h1{
    font-size: $title_size;
    
} 
p {
    font-size: $subtitle_size;
}
button {

    @include Button();

&:hover{
    background: $reed;

}
}
}


@media (max-width: 900px){
    .hero{
        padding: 50px 30px;
        h1 {
            font-size: 20px;
        }
        h5{
            font-size: 9px;
        }
        button {
            font-size: 13px;
        }
    }
}