@import "./header";
@import "./footer";

$MyReed:#DA1C36;
$MyBlue:#000E44;

@mixin MyBtn {
    padding: 1%;
    margin-top: 8%;
    background: none;
    border-radius: 30px;
    border: solid 2px $MyReed;
    color: white;
    font-size: 18px;
    cursor: pointer;

}

.hero{
    position: relative;
    min-height: 113vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
background:linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.527)), url(../assets/product.png);
background-size: cover ;
color: white;

h1{
    font-size: 40px;
    
} 
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
button {
    @include MyBtn();
    padding-left: 30%;
    padding-right: 30%;

&:hover{
    background: $MyReed;
}
}
}
}

.titlemodels{
    h3{
    font-size: 35px;
    text-align: center;
    margin-top: 2%;
    color: $MyBlue;
    }
   
}

.models{
    width: 90%;
    margin: auto;
.events{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
    
    .img{
        width: 650px;
        position: relative;
    }
    .eventDiscription{
        width: 350px;
        text-align: left;
        background-color: white ;
        color: $MyBlue;
        height: fit-content;
        padding: 20px;
        position: absolute;
        box-shadow :10px 5px 5px #eceff1;
        margin-left: 550px;
        
        .descriptionHeader{
            font-size: 30px;
        }
        .descriptionPar{
            font-size: 20px;
        }
    }
}

.reversed{
    flex-direction: row-reverse;
    .imgTwo{
        width: 650px;
        position: relative;
    }
    .eventDiscriptionReversed{
        width: 350px;
        text-align: left;
        background-color: white ;
        color: $MyBlue;
        height: fit-content;
        padding: 20px;
        position: absolute;
        margin-right: 550px;
        box-shadow :10px 5px 5px #eceff1;
        .descriptionHeader{
            font-size: 30px;
        }
        .descriptionPar{
            font-size: 20px;
        }
    }
}
}

.ALL{
    display: flex;
    flex-direction: column;
  
        h3{
            font-size: 35px;
            color: white;
        }
        h4{
            font-size: 30px;
            color: white;  
    }
    .ALLrow{
        display: flex;
        flex-direction: row;

        .btnAll{
            display: flex;
            flex-direction: row;
            h4{
                font-size: 30px;
                color: white;  
            }
        }
    }



}