@import "./header";
@import "./footer";

$MyReed:#DA1C36;
$MyBlue:#000E44;

@mixin MyBtn {
    padding: 1%;
    margin-top: 8%;
    background: none;
    border-radius: 30px;
    border: solid 2px $MyReed;
    color: white;
    font-size: 18px;
    cursor: pointer;

}

.hero{
    position: relative;
    min-height: 113vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
background:linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.527)), url(../assets/product.png);
background-size: cover ;
color: white;

h1{
    font-size: 40px;
    
} 
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
button {
    @include MyBtn();
    padding-left: 30%;
    padding-right: 30%;

&:hover{
    background: $MyReed;
}
}
}
}


.DivDescriptif{
    display: flex;
    flex-direction: column;
     background: url(../assets/cal.png); 
    align-items: center;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 25px;
    }
    h5{
        font-size: 25px;
        margin-bottom: 2%;
    }
      
    .Choix{
        gap: 208%;
        display: flex;
        flex-direction:row;
        justify-content: center;
        .ChoixBoutton{
            gap: 17%;
            display: flex;
            flex-direction: row;
            h3{
               font-size:  20px;
            }
        
        .btnChoix{
            width: 61px;
            img{
                width: 100%;
            }
            }
        }
    }
}

.c-product-tray {
    margin-top: 96px;
    margin-bottom: 96px;

    .o-wrapper {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 24px;
        padding-right: 24px;


        .c-product-tray__heading {
            font-size: 28px;
            line-height: 1.14285714286;
            margin-bottom: 24px;
            text-align: center;
          }

          .c-product-tray__carousel{
            .o-slider-product-tray {
                position: relative;
                .o-slider-product-tray__controls {
                    display: none;
                    
                    .o-slider-product-tray__button--prev 

                       {
                        left: -24px;
    appearance: none;
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
    margin-top: -40px; /* [1] */
    position: absolute;
    top: 50%;
    
    &:focus {
      outline: 0;
    }
    
    &[disabled] {
      cursor: default;
    }
     
  .o-slider-product-tray__arrow--prev {
    display: inline-block;
    fill: #aaa;
    height: 24px;
    width: 24px;
    
    &:hover {
      fill: #222;
    }
    
    .o-slider-product-tray__button[disabled] & {
      fill: #ddd;
    }
  }
  }



 
  .o-slider-product-tray__button--next 
  
  {
    right: -24px;

appearance: none;
border-width: 0;
background-color: transparent;
cursor: pointer;
margin-top: -40px; /* [1] */
position: absolute;
top: 50%;

&:focus {
outline: 0;
}

&[disabled] {
cursor: default;
}
.o-slider-product-tray__arrow--next {
    display: inline-block;
    fill: #aaa;
    height: 24px;
    width: 24px;
    transform: scaleX(-1);

    
    &:hover {
      fill: #222;
    }
    
    .o-slider-product-tray__button[disabled] & {
      fill: #ddd;
    }
  }
  
}


.o-slider-product-tray__inner {
    display: block;
    margin: 0;
    padding: 0;
     .o-slider-product-tray__slide {
    list-style: none;
    .c-product-tile{
        .c-product-tile__image {
            margin-bottom: 8px;
            img {
                max-width: 100%;
                height: auto;
              }
              
          }
          
          .c-product-tile__name {
            font-size: 14px;
            line-height: (24px / 14px) * 1;
            margin-top: 0;
            margin-bottom: 0;
          }
    }
  }
  }
                  }



              }
          }
      }
  }
 
  
  
  
  @media screen and (min-width: 900px) {
    .o-slider-product-tray__controls {
      display: block;
    }
  }
  
  
 
  
  
 
  
  