@import "./header";
@import "./footer";

$MyReed:#DA1C36;
@mixin MyBtn {
    padding: 1%;
    margin-top: 8%;
    background: none;
    border-radius: 30px;
    border: solid 2px $MyReed;
    color: white;
    font-size: 18px;
    cursor: pointer;

}

.hero{
    position: relative;
    min-height: 113vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
background:linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.527)), url(../assets/product.png);
background-size: cover ;
color: white;

h1{
    font-size: 40px;
    
} 
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
button {
    @include MyBtn();
    padding-left: 30%;
    padding-right: 30%;

&:hover{
    background: $MyReed;
}
}
}
}