@import "./header";
@import "./footer";


.hero{
    position: relative;
    min-height: 113vh;
    padding: 50px 100px;
    @include center();
    @include Column();

    background:linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.527)), url(../assets/services.jpg);
    background-size: cover ;
    color: white;

    h1{
        font-size: $title_size;
    }
    h5{
        font-size: $subtitle_size;
    }
    button{
        @include Button();
        &:hover{
            background-color:$reed;
        }
    }
    .bas{
       width:4%;
       margin-top: 4%;
       margin-bottom: 2%;
       img{
           width: 100%;
           cursor: pointer;
       }
    }
    
}

.ParentsServices{
    @include center();
    @include Column();

    
    width: 80%;
    margin: auto;
h2{
    text-transform: uppercase;
    margin-top: 4%;
    font-size: $title_size;
    color: $blue;
    text-align: center;
    
}
h3{
    font-size: $subtitle_size;
    margin-bottom: 4%;
    font-family: Playfair Display;
    font-weight: 400;
}




    .iconService{
        @include Row();

        gap: 10%;
        margin-bottom: 2%;
        justify-content: center;
        
       

        .iconn{
            width: 25%;
            @include Column();

            img{
                width: 45%;
                margin: auto;
                margin-bottom: 10%;
            }
            h3{
                text-align: center;
                font-size: $subtitle_size;
                color: $blue;
                margin-bottom: 5%;
            }
            p{
                font-size: $paragraph_size;
                text-align: center;
            }
        }
    }

    .DescripServices{
        @include Row();

        p{
            font-size: $paragraph_size;
            color: black;
        }
    }
}

.SlidService{
    background-size: cover ;
width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.404),rgba(0, 0, 0, 0.527)), url(../assets/ll.jpg);
    @include Column();

gap: 8%;
.servWork{
    @include center();
    @include Column();

    margin-top: 3%;
    margin-bottom: 3%;
    h3{
    font-size: $title_size;
    color: white;

    }
}
.workroute{
    @include center();
    @include Row();
    margin-bottom: 3%;
    gap: 8%;

    .iimmg{
        width: 11%;
    img{
width: 100%;
    }
}
    h3{
        font-size: $title_size;
        color: white;
    }
}
    
   
}

.QualityService{
    @include Column();

    width: 80%;
    margin: auto;
    h2{
        font-size: $title_size;
        text-align: center;
        margin-top: 3%;
        text-transform: uppercase;
    }
    h3{
        font-size: $subtitle_size;
        margin-bottom: 3%;
        font-family: Playfair Display;
        font-weight: 400;
        text-align: center
    }
    .regroupRow{
                   @include Row();

    .Descrip{
        @include Column();


        .OnoDescp{
            @include Row();

            width: 80%;
            gap: 18%;
            margin-bottom: 16%;
            @include center();

            .widthPhoto{
                width: 90%;
                
            
            img{
                width:90%
            }
        }
            p{
                font-size: $paragraph_size;
                color: $blue
            }
        }
    }
    }

    .PhotoService{
        width: 90%;
        img{
            width:100% ;
        }
    }


}



@media (max-width: 1100px){
  
.hero{
    padding: 50px 30px;
    h1{
        font-size: 35px;
    }
    h5{
        font-size: 20px;
    }
    button{
      
       font-size: 10px;

    }
    
}

.ParentsServices{
   
h2{
    
    font-size: 25px; 
}

    .iconService{       
#nondiv{
    display: none;
}
        .iconn{
            
            width: 40%;
           
            img{
                width: 40%;
               
            }
            h3{
               
                font-size: 20px;
                
            }
            p{
                font-size: 12px;
            }
        }
    }

    .DescripServices{
      
        p{
            font-size: 20px;
           
        }
    }
}


.SlidService{
    .servWork{
    h3{
    font-size: 20px;

    }
}
.workroute{
    .iimmg{
        width: 10%;
    img{
width: 100%;
    }
}
    h3{
        font-size: 25px;
        color: white;
    }
}
    
   
}

.QualityService{
    h2{
        font-size: 25px;
    }
    .regroupRow{
        flex-direction: column;
    .Descrip{
    
        .OnoDescp{
       
            .widthPhoto{
                width: 60%;
                
            
            img{
                width:90%
            }
        }
            p{
                font-size: 12px;
                color: $blue;
            }
        }
    }
    }

    .PhotoService{
        display: none;
    }


}

}





@media (max-width: 700px){
  
    .hero{
        h1{
            font-size: 20px;
            text-align: center;
        }
        h5{
            font-size: 15px;
            display: none;
        }
        button{
         padding: 3%;
        }
        .bas{
            width: 13%;
        }
    }
    
    .ParentsServices{
       
    h2{
        
        font-size: 25px; 
    }
    
        .iconService{       
    #nondiv{
        display: none;
    }
            .iconn{
                
                width: 40%;
               
                img{
                    width: 40%;
                   
                }
                h3{
                   
                    font-size: 20px;
                    
                }
                p{
                    font-size: 12px;
                }
            }
        }
    
        .DescripServices{
          
            p{
                font-size: 20px;
               
            }
        }
    }
    
    
    .SlidService{
        .servWork{
        h3{
        font-size: 15px;
    
        }
    }
    .workroute{
        .iimmg{
            width: 8%;
        img{
    width: 100%;
        }
    }
        h3{
            font-size: 15px;
            color: white;
        }
    }
        
       
    }
    
    .QualityService{
        h2{
            font-size: 25px;
        }
        .regroupRow{
            flex-direction: column;
        .Descrip{
        
            .OnoDescp{
           
                .widthPhoto{
                    width: 60%;
                    
                
                img{
                    width:90%
                }
            }
                p{
                    font-size: 12px;
                    color: $blue;
                }
            }
        }
        }
    
        .PhotoService{
            display: none;
        }
    
    
    }
    
    }
    @media (max-width : 500px)
    {
        .ParentsServices{
        .iconService{
      display: flex;
        flex-direction: column;
      align-items: center;
        }
    }


    .QualityService{
      
        .regroupRow{
        .Descrip{
            align-items: center;
            .OnoDescp{
                flex-direction: column;

                .widthPhoto{
                    text-align: center;

                    img{
                    width: 45%;
                    }
                
              
            }
              
            }
        }
        }
    
      
    
    
    }
}


// Product
.titlemodels{
    h3{
    font-size: $title_size;
    text-align: center;
    margin-top: 2%;
    color: $blue;
    }
   
}



.content{
    padding: 0 0 80px;
    .banner{
        .swiper-container {

          width: 90%;
          
          .swiper-slide{
              max-width: 276px;
              img{
                  width: 100%;
                  border-radius: 200px 200px 0 0 ;
              }
              .slide-text{
                  color : #fff;
                  text-align: center;
                  padding: 20px;
                  transition: all ease 0.5s;
                  font-family: Playfair Display;

                  h3{
                      text-transform: uppercase;
                      font-size: 24px;
                      font-weight: 400;
                      margin-bottom: 10px;
                  }
                  p{
                      font-weight: 300;
                      font-size : 18px;
                  }
                  &:hover{
                     transform: translateY(-100px); 
                  }
              }
          }
          }
    }
}


.title_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 3%;
    h2{
        font-size: $title_size;
        margin-bottom: 1%;
    }
    h3{
        font-family: Playfair Display;
        font-size: $subtitle_size;
        font-weight: 400;
        margin-bottom: 2%;
    }
    p{
        font-size: $paragraph_size;
        line-height: 1.8;
        color: #333333;
        width: 45%;
        text-align: center;

    }
}


@media (max-width: 700px){
  




    .titlemodels{
        h3{
        font-size: 25px;
       
        }
    }
    

    
    .content{
        .banner{
            gap: 5%;
            .swiper-container {
    
              width: 70%;
              
              .swiper-slide{
                  max-width: 276px;
                  img{
                      width: 100%;
                      border-radius: 150px 150px 0 0 ;
                  }
                  .slide-text{
                     font-size: 13px;
    
                      p{
                          font-size : 13px;
                      }
                      &:hover{
                         transform: translateY(-100px); 
                      }
                  }
              }
              }
        }
    }
    
    
    .title_product{
       
        h2{
            font-size: 25px;
            margin-bottom: 1%;
        }
        h3{
            font-family: Playfair Display;
            font-size: 1px;
            font-weight: 400;
            margin-bottom: 2%;
        }
        p{
            font-size: 10px;
            line-height: 1.8;
            color: #333333;
            width: 45%;
            text-align: center;
            font-family: Playfair Display;

        }
    }






    
}
