.button_ADD_Type{
    color: #fff;
    border: none;
     background: linear-gradient(336deg,#00044E 10%,#DA1C36 100%);
}
#btnADDType {
    color: #DA1C36;
    background: none;
    border-color: #DA1C36;
  }